@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

header,
nav {
    display: block;
}

h1 {
    font-family: "Arvo";
    font-weight: normal;
    font-size: 55px;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Arvo";
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: Oswald;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    margin: 5px 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: yellow;
}

a:hover {
    color: #fff;
}

.center {
    margin: 0 auto;
}

.content {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.clear {
    clear: both;
}

#header {
    width: 100%;
    background: url('http://landing.oxanaweb.com/images/header-bg.png');
    height: 80px;
    position: fixed;
    margin-top: 0px;
}

#nav {
    float: right;
    margin-top: 20px;
    text-align: right;
}

#logo a {
    color: #fff;
    text-decoration: none;
    float: left;
    font-size: 30px;
    margin-top: 20px;
    color: #fff;
    font-family: "Wellfleet";
    font-weight: bold;
}

#logo a:hover {
    color: yellow;
}

#nav ul {
    list-style: none;
    display: block;
    margin: 0 auto;
}

#nav li {
    margin-top: 9px;
    float: left;
    padding-left: 21px;
}

#nav li a {
    color: #fff;
    opacity: 0.6;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Wellfleet';
}

#nav li a.active {
    color: #fff;
    opacity: 1;
}

#nav li a:hover {
    color: #fff;
    opacity: 1;
}

.quotes {
    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    margin: 50px auto;
}

.quotes1 {
    font-family: 'Goudy Bookletter 1911', serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 50px auto;
}

.quotes_container {
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.contact_container {
    margin-top: -200px;
}

.upload_container {
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    border: 3px solid rgb(168, 75, 13);
    height: 500px;
    margin-top: -100px;
    overflow: auto;
    text-align: center;
}

.wrap_member {
    margin: 0 auto;
    display: inline-block;
}

.card {
    float: left;
    margin-left: 20px;
}

.card-text {
    color: #000000;
    text-align: center;
    font-weight: inherit;
}

#divider {
    width: 300px;
    height: 35px;
    margin: 0px auto 27px auto;
    border-bottom: 3px solid #fff;
}

#button {
    background: url('http://landing.oxanaweb.com/images/button.png') no-repeat;
    width: 251px;
    height: 48px;
    margin: 0 auto;
    display: block;
    padding-top: 5px;
}

#arrow {
    background: url('http://landing.oxanaweb.com/images/arrow.png') no-repeat;
    height: 60px;
    width: 40px;
    margin: 0 auto;
    display: block;
}

#home,
#about {
    width: 100%;
}

#home {
    background: url('https://xshyfc.com/wp-content/uploads/data/2018/2/22/Kawaii-Anime-Wallpaper-PIC-WPXH318555.jpg') 50% 0 no-repeat fixed;
    color: #fff;
    height: 660px;
    margin: 0;
    padding: 200px 0 260px 0;
    background-size: cover;
}

#about {
    background-color: rgb(17, 8, 22);
    color: #e2520fc4;
    height: 663px;
    margin: 0 auto;
    overflow: hidden;
    padding: 200px 0;
}

.uploadArea {
    margin-top: -100px;
}

#services {
    background: url('http://photoservice.gamesao.vn/Resources/Upload/Images/News/92b06795-3eb6-4001-8c6d-e1be1cab3259.png') 50% 0 no-repeat fixed;
    color: #000000;
    height: 660px;
    padding: 100px 0 0 0;
    background-size: cover;
}

.quotes_container p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}

#portfolio {
    background-color: rgb(31, 7, 27);
    color: #333333;
    height: auto;
    padding-bottom: 100px;
}

#contact {
    background: url('https://lh3.googleusercontent.com/R4ktr0TF-nL9hZlkq-ViwqiCxLGuFLkbkxnmK3BAsWkuNitp_N11NRjPUYk2kilydtKaUofw7VWS1BUy84ARFVzP1JqORVLOvVvpaz71stxQQAK95HHGHEJR-IWchtjGQSyMWioWv6cLoTyz84XAgnxpwV-z0Oy_-dpsrN6MP_0Gcr3yQ_K29LWpI0EbEckbFeJBejiG22-RdhsvlFBUKShbOuLMhhqndGL5TYgK6S86H0UyIcpu8kEUmbyQfKtcQ8o0VAO_oYL09de6jjxr0A6rczzsbgaXQGHu1GOP_jP53ww8hzNk-83UGYIyBEi07bksN8HSJO_8ePO5Mu6pgQOF2UIZ1UPkaZ7mpswVWa4fnjhfLRTWGTCBrpry1GkA3xPIFIj7IjzxY5rWD9sgFZvREXzBPDbZcLoR4ZydcoGxWIBEfTN7MaYTREf_34bHt-K-FXR0kZmlRxKtI6qhqp8IhjDC5xYh_VtTwyuyyGhvgwE24FIoHWHkZqVchsPJLi0LnX2LxBglKa5P1KInXeqlqWoDV0zUrbGY_EGPuvNaQjONyANCIn9Neit-i-5uw92gbIlMwagsHGjf7ASEKRUXyYLEYIRXSqtCa1Y0JDJ9njiyOjFvh2MlUm6nJ9tL8F05bII4SAmlMILxPSllPxwm=w1366-h497-no') 50% 0 no-repeat fixed;
    height: 625px;
    margin: 0 auto;
    padding: 250px 0;
    color: #fff;
    background-size: cover;
    margin-top: 0px;
}

#copyright {
    color: #fff;
    font-family: "Wellfleet";
    font-size: 14px;
    margin-top: 100px;
    text-align: center;
}

#copyright a {
    text-decoration: none;
    color: #fff;
}

#home a {
    color: #fff;
}

#home a:hover {
    color: yellow;
}

#menu-icon {
    display: none;
}

#slidenav,
ul#slidenav {
    display: none;
}

#social {
    margin: 20px 10px;
    text-align: center;
}

.smGlobalBtn {
    /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 2px solid #ddd;
    /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
}


/* facebook button class*/

.facebookBtn {
    background: #4060A5;
}

.facebookBtn:before {
    /* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a";
    /* add facebook icon */
}

.facebookBtn:hover {
    color: #4060A5;
    background: #fff;
    border-color: #4060A5;
    /* change the border color on mouse hover */
}


/* twitter button class*/

.twitterBtn {
    background: #00ABE3;
}

.twitterBtn:before {
    font-family: "FontAwesome";
    content: "\f099";
    /* add twitter icon */
}

.twitterBtn:hover {
    color: #00ABE3;
    background: #fff;
    border-color: #00ABE3;
}


/* google plus button class*/

.googleplusBtn {
    background: #e64522;
}

.googleplusBtn:before {
    font-family: "FontAwesome";
    content: "\f0d5";
    /* add googleplus icon */
}

.googleplusBtn:hover {
    color: #e64522;
    background: #fff;
    border-color: #e64522;
}


/* linkedin button class*/

.linkedinBtn {
    background: #0094BC;
}

.linkedinBtn:before {
    font-family: "FontAwesome";
    content: "\f0e1";
    /* add linkedin icon */
}

.linkedinBtn:hover {
    color: #0094BC;
    background: #fff;
    border-color: #0094BC;
}


/* pinterest button class*/

.pinterestBtn {
    background: #cb2027;
}

.pinterestBtn:before {
    font-family: "FontAwesome";
    content: "\f0d2";
    /* add pinterest icon */
}

.pinterestBtn:hover {
    color: #cb2027;
    background: #fff;
    border-color: #cb2027;
}


/* tumblr button class*/

.tumblrBtn {
    background: #3a5876;
}

.tumblrBtn:before {
    font-family: "FontAwesome";
    content: "\f173";
    /* add tumblr icon */
}

.tumblrBtn:hover {
    color: #3a5876;
    background: #fff;
    border-color: #3a5876;
}


/* rss button class*/

.rssBtn {
    background: #e88845;
}

.rssBtn:before {
    font-family: "FontAwesome";
    content: "\f09e";
    /* add rss icon */
}

.rssBtn:hover {
    color: #e88845;
    background: #fff;
    border-color: #e88845;
}

.quotes_container ul {
    list-style: none;
    display: inline-flex;
}

.icons {
    width: 200px;
    margin: 0 auto;
}

.icons li {
    display: flexbox;
    margin-right: 8px;
    align-items: center;
}

.portfoliocontent {
    width: 80%;
    max-width: 960px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}


/* Floated Columns ------------------ */

.portfimg1,
.portfimg2 {
    width: 46.5%;
}

.portfimg1 {
    float: left;
}

.portfimg2 {
    float: right;
}

.portfimg1,
.portfimg2 {
    margin-bottom: 10px;
}

.portfimg1 img,
.portfimg2 img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 1px solid #c0bfbe;
    border-radius: 7px;
    padding: 4px;
}

.caption {
    text-align: center;
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 20px;
    font-weight: bold;
    color: #af3535;
}

#portfolio h1 {
    text-align: center;
    font-size: 30px;
    color: #af3535;
    font-family: 'Goudy Bookletter 1911', serif;
    padding-top: 120px;
}


/* Float Clearfix ------------------ */

.group:after {
    content: "";
    display: table;
    clear: both;
}


/* Media Queries -------------------- */

@media (max-width: 747px) {
    ul#slidenavdesktop {
        display: none;
    }
    /* menu icon */
    #menu-icon {
        height: 30px;
        background: url('http://landing.oxanaweb.com/images/menu-icon.png') no-repeat 10px center;
        background-color: #fff;
        opacity: 0.9;
        border-radius: 2px;
        padding: 8px 10px 0 33px;
        cursor: pointer;
        border: solid 1px #666;
        display: block;
        /* show menu icon */
    }
    #menu-icon:hover {
        opacity: 0.5;
    }
    #menu-icon.active {
        background-color: 0.7;
    }
    /* main nav */
    #slidenav {
        clear: both;
        position: absolute;
        top: 80px;
        right: 0;
        z-index: 10000;
        padding: 5px;
        display: none;
        /* visibility will be toggled with jquery */
        font-size: 40px;
        background-color: white;
        width: 100%;
        text-align: center;
    }
    ul#slidenav {
        display: none;
    }
    #slidenav li {
        clear: both;
        float: none;
        margin: 5px 5px 10px 20px;
        background: url('http://landing.oxanaweb.com/images/header-bg.png');
    }
    .lastslide {
        margin-top: -20px;
    }
    .portfimg1,
    .portfimg2 {
        width: 100%;
        float: none;
    }
}

@media (max-width: 636px) {
    .mobile {
        display: none;
    }
    h1 {
        font-size: 50px;
    }
    #divider {
        width: 200px;
    }
}

@media (min-width: 748px) {
    /* ensure #nav is visible on desktop version 
      ul#slidenav {
          display: block !important;
      }*/
}

.wrap {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    display: table;
}

label[for=upload] {
    display: inline-block;
    border: 3px solid #ccc;
    color: #666;
    font-weight: bold;
    background: #eee;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer
}

label[for=upload]:hover {
    background: #ddd
}

label[for=upload] input {
    display: none
}

.thumb {
    position: relative;
    height: 300px;
    width: 300px;
    overflow: hidden;
    margin: 40px 0;
    cursor: move;
}

.thumb:before {
    content: "";
    display: block;
    position: absolute;
    width: 96%;
    height: 96%;
    border: 3px dashed #eee;
    z-index: 9;
    top: 1%;
    left: 1%;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none
}

.thumb:hover::before {
    opacity: 0.6
}

.thumb img {
    width: 100%;
    max-width: 800px;
    max-height: 800px;
    transition: all 0.4s;
}

.anime {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.anime .anime-info {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -390px;
    right: 110%;
}

.anime .anime-info::after {
  content: "";
  position: absolute;
  top: 92%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.anime:hover .anime-info {
    visibility: visible;
}

.list-group-item {
    color: black;
    text-align: start;
    padding: 1px;
}