<!doctype html>
<html lang="en">
    <head>
       <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    </head>
    <body class="bg-light">

    <div>Steins_Gate</div>
    <div>Kishuku Gakkou no Juliet</div>
    <div>Re - Zero Kara Hajimeru Isekai Seikatsu</div>
    <div>Eromanga Sensei</div>
    <div>Sword Art Online</div>
    <div>Zetsuen no Tempest</div>
    <div>Seishun Buta Yarou wa Bunny Girl Senpai no Yume  o Minai</div>
    <div>Sword Art Online II</div>
    <div>Sword Art Online - Alicization</div>
    <div>Go-Toubun no Hanayome</div>
    <div>Sakurasou no Pet na Kanojo</div>
    <div>kono suba</div>
    <div>Kanojo ga Flag o Oraretara</div>
    <div>BTOOOM</div>
    <div>Black Bullet</div>
    <div>Baka to Test Season 1</div>
    <div>Baka to Test Season 2</div>
    <div>Anohana</div>
    <div>Angel Beats</div>
    <div>No Game No Life</div>
    <div>Masamune-kun's Revenge</div>
    <div>Guilty Crown</div>
    <div>Fate Apocrypha</div>
    <div>Code Geass Hangyaku no Lelouch R2</div>
    <div>Code Geass Hangyaku no Lelouch</div>
    <div>Code Geass Gaiden Boukoku no Akito</div>
    <div>Blood Lad</div>
    <div>Amagi Brilliant Park</div>
    <div>Charlotte</div>
    <div>Owari no Seraph - Nagoya Kessen Hen</div>
    <div>Hajimete no Gal</div>
    <div>grand blue</div>
    <div>date a live</div>
    <div>Clannad After Story</div>
    <div>Clannad</div>
    <div>Akame ga Kill</div>
    


    </body>
</html>
